---
layout: layouts/base.njk
---
{% include "partials/header.njk" %}
<main id="main-content">
{% include "partials/hero.njk" %}
{% include "partials/metrics.njk" %}
{% include "partials/case-studies.njk" %}
{% include "partials/iqro-land.njk" %}
{% include "partials/about.njk" %}
{% include "partials/principles.njk" %}
{% include "partials/toolbox.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/education.njk" %}
{% include "partials/contact.njk" %}
</main>
{% include "partials/footer.njk" %}
{% include "partials/confidential-modal.njk" %}
